<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ challenge.name }}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    {% include 'navbar.html' %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div>
        <h2>
            {{challenge.name}}
        </h2>
        <p>
            Difficulty: {{challenge.difficulty}}
        </p>
        <p>
            Description: {{challenge.description}}
        </p>
        <h3>
            Examples:
        </h3>
        <ul>
            {% for test in tests %}
            <li>
                {{challenge.stub_name}}({{test.test_input}}) -> {{test.test_output}}
            </li>
            {% endfor %}
        </ul>
    </div>
    <hr>
    {% if logged_in %}
    <div>
        <h2>Submissions</h2>
        {%if submissions%}
        <table border="1" style="border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Submitted At</th>
                    <th>Execution Time</th>
                    <th>Characters</th>
                </tr>
            </thead>
            {% for submission in submissions %}
            <tbody>
                <tr>
                    <td>submission.created_at</td>
                    <td>submission.exec_time</td>
                    <td>submission.exec_chars</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {% else %}
        <p>No submissions</p>
        {% endif %}
    </div>
    <hr>
    <div>
        <h2>Add a Comment</h2>
        <form id="newCommentForm">
            <label for="commentTitle">Title:</label><br>
            <input type="text" id="commentTitle" name="commentTitle"><br>
            <label for="commentText">Comment:</label><br>
            <textarea id="commentText" name="commentText" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit Comment">
        </form>
    </div>
    {% endif %}
    <div>
        <h2>
            Comments
        </h2>
        {% if comments%}
        {% for comment in comments %}
        <h3>
            {{comment.title}}
        </h3>
        <p>
            {{comment.text}}
        </p>
        <p>
            Posted By: {{comment.username}} on {{comment.created_at}}
        </p>
        {% endfor %}
        {% endif %}
    </div>
    <script>
        $(document).ready(function () {
            $('#newCommentForm').on('submit', function (event) {
                event.preventDefault(); // Prevent default form submission

                var $form = $(this);
                var url_array = window.location.href.split('/');
                var challenge_id = url_array[url_array.length - 1];
                $.ajax({
                    url: '/submit_comment/' + challenge_id, // URL for the POST request
                    method: 'POST',
                    data: $form.serialize(),
                    success: function (data) {
                        console.log("success");
                        $('html').html(data);
                    },
                    error: function (xhr) {
                        console.log("error");
                        console.log(xhr);
                    },
                    complete: function (xhr, textStatus) {
                        console.log('Request completed with status:', textStatus);
                    }
                });
            });
        });
    </script>
</body>

</html>