<!--<footer class="bg-light text-center text-lg-start mt-4">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Python Coding Challenge:
      <a class="text-dark" href="/">pythonchallenges.com</a>
    </div>
  </footer>-->

  <footer class="footer mt-auto py-3 bg-light" style="background-color: rgba(0, 0, 0, 0.2);"> <!-- mt-auto will push the footer to the bottom -->
    <div class="container text-center">
      <span class="text-muted">© 2023 Python Coding Challenge: codingchallenge.com</span>
    </div>
  </footer>